<header>
  <div
    class="rounded-10 bg-neutral-0 shadow-header flex items-center justify-between border border-neutral-200 px-150 py-100"
  >
    <div class="">
      <img src="logo.svg" alt="logo" />
    </div>

    <!-- TODO: Extract to a component and implement a11y -->
    <button
      aria-label="Theme toggle"
      class="rounded-12 inline-flex size-[50px] items-center justify-center bg-neutral-100"
    >
      <img src="icon-moon.svg" alt="" aria-hidden="true" />
    </button>
  </div>
</header>
<main></main>
